<script>
  import {mapState} from 'vuex'
  import Pusher from 'pusher-js'

  export default {
    computed: {
      ...mapState({
        pmStore: state => state.privateMessageStore,
        userStore: state => state.userStore
      })
    },
    created () {
      this.$store.dispatch('getUserNotifications')
      this.pusher = new Pusher('356f3910f185a61d4267', {
        encrypted: true,
        cluster: 'mt1'
      })
      let that = this
      this.channel = this.pusher.subscribe('pm_channel')
      this.channel.bind('pm_saved', function (data) {
        that.$emit('incoming_pm', data)
      })
      this.$on('incoming_pm', function (pm) {
        this.incomingPM(pm)
      })
    },

    methods: {
      incomingPM (pm) {
        if (pm.message.receiver.email === this.userStore.authUser.email) {
          this.$store.dispatch('newMessageNotification', pm.message)
        }
      }
    }
  }
</script>

<template>
  <li class="dropdown pm-message-notification">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-envelope-o"></i>
      <span class="label label-success" v-if="pmStore.notifications.length > 0">{{pmStore.notifications.length}}</span>
    </a>
    <ul class="dropdown-menu">
      <div class="context">Seus emails</div>

      <div class="context" v-if="pmStore.notifications.length === 0">Nenhum email novo</div>

      <li class="notification" v-for="notification in pmStore.notifications" v-if="pmStore.notifications.length > 0">
        <router-link :to="{name: 'pm-view', params: { pmId: notification.id }}">
          <div>
            <span class="from">{{notification.sender.name}} <span class="time"><i class="fa fa-clock-o"></i> {{notification.created_at}}</span></span>
            <span class="subject">{{notification.subject}}</span>
          </div>
        </router-link>
      </li>

      <div class="footer">
        <router-link :to="{name: 'my-pms'}">Ver todos emails</router-link>
      </div>

    </ul>
  </li>
</template>

<style lang="scss">
  @import './../../assets/css/variables.scss';
  .pm-message-notification {
    &.open {
      background-color: $border-color;
    }
    .context {
      color: #999999;
      width: 300px;
      padding: 5px 10px 9px 10px;
      border-bottom: 1px solid $border-color;
      overflow: hidden;
    }
    li.notification {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: none;
      }
      padding: 5px 5px 5px 0px;
      span {
        display: block;
        &.from {
          color: #444444;
          .time {
            font-size: 0.7em;
            float: right;
          }
        }
        &.subject {
          font-size: 0.8em;
        }
      }
    }
    .footer {
      text-align: center;
    }
  }
</style>
