<script>
  import PrivateMessageSidebar from './PrivateMessageSidebar'
  import {mapState} from 'vuex'
  import Pusher from 'pusher-js'

  export default {
    components: {
      'private-message-sidebar': PrivateMessageSidebar
    },
    computed: {
      ...mapState({
        pmStore: state => state.privateMessageStore
      })
    },
    created () {
      this.$store.dispatch('setUserMessagesRec')
      this.pusher = new Pusher('356f3910f185a61d4267', {
        encrypted: true,
        cluster: 'mt1'
      })
      let that = this
      this.channel = this.pusher.subscribe('pm_channel')
      this.channel.bind('pm_saved', function (data) {
        that.$emit('incoming_pm', data)
      })
      this.$on('incoming_pm', function (pm) {
        this.incomingPM(pm)
      })
    },
    methods: {
      incomingPM (pm) {
        this.$store.dispatch('setUserMessagesRec')
      }
    }
  }
</script>

<template>
  <div class="PrivateMessage PrivateMessage-Inbox">
    <section class="header">
      <h1 class="page-title">Caixa de entrada <small> Meus emails recebidos.</small></h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-with-right-border">
          <private-message-sidebar></private-message-sidebar>
        </div>

        <div class="col-sm-8">
          <table class="table table-striped table-hover table-bordered table-condensed message-table">
            <thead>
              <tr>
                <td>Enviado por</td>
                <td>Assunto</td>
                <td>Tempo</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="message in pmStore.messageRec" v-bind:class="[message.read == 0 ? 'unread' : 'read']">
                <td class="col-sm-3">{{message.sender.name}}</td>
                <td class="col-sm-7">
                  <router-link :to="{name: 'pm-view', params: { pmId: message.id }}">{{message.subject}}</router-link>
                </td>
                <td class="col-sm-2">{{message.created_at}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </div>
</template>
