<script>
  export default {

  }
</script>

<template>
  <ul class="nav nav-pills nav-stacked PrivateMessage-Sidebar">
    <li><router-link :to="{name: 'new-pm'}">Enviar</router-link></li>
    <li><router-link :to="{name: 'my-pms'}">Caixa de entrada</router-link></li>
    <li><router-link :to="{name: 'my-pms-sent'}">Enviados</router-link></li>
  </ul>
</template>
