<script>
  import PrivateMessageSidebar from './PrivateMessageSidebar'
  import {mapState} from 'vuex'
  import Pusher from 'pusher-js'

  export default {
    created () {
      this.$store.dispatch('getUserList')
      this.pusher = new Pusher('356f3910f185a61d4267', {
        encrypted: true,
        cluster: 'mt1'
      })
      let that = this
      this.channel = this.pusher.subscribe('pm_channel')
      this.channel.bind('pm_saved', function (data) {
        that.$emit('incoming_pm', data)
      })
      this.$on('incoming_pm', function (pm) {
        this.incomingPM(pm)
      })
    },

    components: {
      'private-message-sidebar': PrivateMessageSidebar
    },
    computed: {
      ...mapState({
        pmStore: state => state.privateMessageStore,
        userStore: state => state.userStore
      })
    },
    data () {
      return {
        pm: {
          userSelected: null,
          subject: '',
          message: ''
        }
      }
    },
    methods: {
      handleFormSubmit () {
        let postData = {
          'receiver_id': this.pm.userSelected.id,
          'message': this.pm.message,
          'subject': this.pm.subject
        }

        this.$store.dispatch('sendPrivateMessage', postData)
          .then(response => {
            this.$router.push({name: 'my-pms'})
          })
      },
      incomingPM (pm) {
        console.log('pm', pm)
      }
    }
  }
</script>

<template>
  <div class="PrivateMessage PrivateMessage-Composer">
    <section class="header">
      <h1 class="page-title">Email - Criar <small> Envie uma mensagem privada pra algu&eacute;m.</small></h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-with-right-border">
          <private-message-sidebar></private-message-sidebar>
        </div>

        <div class="col-sm-8">
          <form v-on:submit.prevent="handleFormSubmit()">
            <div class="form-group">
              <label>Selecione um usuario</label>
              <multiselect
                v-model="pm.userSelected"
                :options="userStore.users"
                :searchable="true"
                :close-on-select="true"
                :show-labels="false"
                track-by="id"
                label="name"
                placeholder="Selecione um usuario">
              </multiselect>
            </div>

            <div class="form-group">
              <label for="">Assunto</label>
              <input type="text" v-model="pm.subject" class="form-control" placeholder="Digite o assunto">
            </div>

            <div class="form-group">
              <label for="">Mensagem</label>
              <textarea name="message" v-model="pm.message" class="form-control"></textarea>
            </div>

            <button class="btn btn-primary">
              <i class="fa fa-save"></i> Enviar
            </button>

          </form>
        </div>
      </div>
    </section>
  </div>
</template>
