<script>
  import {mapState} from 'vuex'

  export default {
    computed: {
      ...mapState({
        dashboardStore: state => state.dashboardStore,
        userStore: state => state.userStore
      })
    },

    created () {
      this.$store.dispatch('setDashboard')
    }
  }
</script>

<template>
  <div class="wrapper" id="dashboard-wrapper">
    <section class="header">
      <h1 class="page-title">Dashboard <small>O resumo da sua conta.</small></h1>
    </section>
    <section>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Relacionamentos</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><b>{{ dashboardStore.dashboard.users }}</b> contatos</li>
            </ul>
          </div>
        </div>
      </div>

      <div class='col-md-3'>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Emails</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><b>{{ dashboardStore.dashboard.pm_received_not_read }}</b> n&atilde;o lidos</li>
              <li><b>{{ dashboardStore.dashboard.pm_received }}</b> emails recebidos </li>
              <li><b>{{ dashboardStore.dashboard.pm_sent }}</b> emails enviados</li>
              <li><b>{{ dashboardStore.dashboard.pm_sent + dashboardStore.dashboard.pm_received }}</b> total de emails</li>
            </ul>
          </div>
        </div>
      </div>

      <div class='col-md-3'>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Conversas</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><b>{{ dashboardStore.dashboard.chat_sent }}</b> mensagens enviadas</li>
              <li><b>{{ dashboardStore.dashboard.chat_received }}</b> mensagens recebidas</li>
            </ul>
          </div>
        </div>
      </div>

    </section>
  </div>
</template>

<style lang="scss">
  #dashboard-wrapper {
    .panel-body {
      ul {
        padding:5px
      }
      li {
        list-style: none;
        font-size: 16px;
        margin-left: 0px;
      }
    }
  }
</style>
