<script>
  import {loginUrl, registrationUrl, getHeader, userUrl} from './../config'
  import {clientId, clientSecret} from './../env'
  import {mapState} from 'vuex'
  export default {
    computed: {
      ...mapState({
        userStore: state => state.userStore
      })
    },
    data () {
      return {
        login: {
          email: '',
          password: ''
        },
        registration: {
          name: '',
          email: '',
          password: ''
        }
      }
    },
    methods: {
      handleLoginFormSubmit () {
        const postData = {
          grant_type: 'password',
          client_id: clientId,
          client_secret: clientSecret,
          username: this.login.email,
          password: this.login.password,
          scope: ''
        }
        const authUser = {}
        this.$http.post(loginUrl, postData)
          .then(response => {
            if (response.status === 200) {
              console.log('Oauth token', response)
              authUser.access_token = response.data.access_token
              authUser.refresh_token = response.data.refresh_token
              window.localStorage.setItem('authUser', JSON.stringify(authUser))
              this.$http.get(userUrl, {headers: getHeader()})
                .then(response => {
                  console.log('user object', response)
                  authUser.email = response.body.email
                  authUser.name = response.body.name
                  window.localStorage.setItem('authUser', JSON.stringify(authUser))
                  this.$store.dispatch('setUserObject', authUser)
                  this.$router.push({name: 'dashboard'})
                })
            }
          })
      },
      handleRegistrationFormSubmit () {
        const postData = {
          grant_type: 'password',
          client_id: clientId,
          client_secret: clientSecret,
          name: this.registration.name,
          username: this.registration.email,
          password: this.registration.password,
          scope: ''
        }
        const authUser = {}
        console.log(postData, authUser, registrationUrl)
        this.$http.post(registrationUrl, postData)
          .then(response => {
            if (response.status === 200) {
              this.$http.post(loginUrl, postData)
                .then(response => {
                  authUser.access_token = response.data.access_token
                  authUser.refresh_token = response.data.refresh_token
                  authUser.email = postData.username
                  authUser.name = postData.name
                  window.localStorage.setItem('authUser', JSON.stringify(authUser))
                  this.$store.dispatch('setUserObject', authUser)
                  this.$router.push({name: 'dashboard'})
                })
            }
          })
      }
    }
  }
</script>

<template>
  <div class="wrapper" id="login-wrapper">
    <section class="login">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Login</strong></div>
            <div class="panel-body">
              <form v-on:submit.prevent="handleLoginFormSubmit()">
                <div class="form-group">
                  <label>Email</label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="text"
                    v-model="login.email"
                  >
                </div>

                <div class="form-group">
                  <label>Senha</label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="password"
                    v-model="login.password"
                  >
                </div>

                <button class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Registro</strong></div>
            <div class="panel-body">
              <form v-on:submit.prevent="handleRegistrationFormSubmit()">

                <div class="form-group">
                  <label>Nome</label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="text"
                    v-model="registration.name"
                  >
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="text"
                    v-model="registration.email"
                  >
                </div>

                <div class="form-group">
                  <label>Senha</label>
                  <input
                    class="form-control"
                    placeholder=""
                    type="password"
                    v-model="registration.password"
                  >
                </div>

                <button class="btn btn-primary">Criar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="sass">
  #login-wrapper
    margin-top: 50px
</style>
