<script>
  import PrivateMessageNotificationDropdown from './private-message/PrivateMessageNotificationDropdown'
  import {mapState} from 'vuex'
  export default {
    components: {
      'pm-notification': PrivateMessageNotificationDropdown
    },
    computed: {
      ...mapState({
        userStore: state => state.userStore
      })
    },
    methods: {
      handleLogout () {
        this.$store.dispatch('clearAuthUser')
        window.localStorage.removeItem('authUser')
        this.$router.push({name: 'home'})
      }
    }
  }
</script>

<template>
  <nav class="navbar navbar-default" v-if="userStore.authUser !== null && userStore.authUser.access_token">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link :to="{name: 'dashboard'}" class="navbar-brand">
          DB LAB
        </router-link>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><router-link :to="{name: 'dashboard'}">Dashboard</router-link></li>
          <li><router-link :to="{name: 'chat'}">Chat</router-link></li>
          <li><router-link :to="{name: 'my-pms'}">Email</router-link></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <pm-notification></pm-notification>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userStore.authUser.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a v-on:click="handleLogout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
